
<h1>CREATE A COMMUNITY</h1>

<div class = "container">
    <form action = "/create-community" method = "POST">
        <label for="communityName">Community Name:</label>
        <input type="text" id="communityName" name="communityName"><br><br>
        <label for="communityDesc">Community Description</label>
        <input type="text" id="communityDesc" name="communityDesc"><br><br>
        <button type="submit" onclick="Alert()">CREATE</button>
    </form>

    <script>
        function Alert(){
            alert("Community created");
        }
    </script>
</div>


