<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Communities</title>
</head>
<body>
    <div>
        <form action="{{ url_for( 'welcome' ) }}" method="post">
            <button type="submit">Back</button>
        </form>
    </div>
    <h1>List of Communities</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Community Name</th>
                <th>Description</th>
                <th>Admin</th>
                <th>Action</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {% for community in communities %}
            <tr>
                <td>{{ community[0] }}</td>
                <td>{{ community[1] }}</td>
                <td>{{ community[2] }}</td>
                    {% if community[3] is none %}
                    <td><form action="{{ url_for( 'join_community' ) }}" method="post">
                        <input type="hidden" name = "communityName" value="{{community[0]}}">
                        <button type="submit">join</button>
                    </form></td>
                    <td></td>
                    {% else %}
                        {% if community[2]==users %}
                            <td></td>
                        {% else %}
                        <td>
                            <form action="{{ url_for( 'exit_community' ) }}" method="post">
                                <input type="hidden" name = "communityName" value="{{community[0]}}">
                                <button type="submit">exit</button>
                            </form>
                        </td>
                        {% endif %}
                        <td>
                            <form action="{{ url_for( 'view_community_posts' ) }}" method="post">
                                <input type="hidden" name = "communityName" value="{{community[0]}}">
                                <button type="post">View</button>
                            </form>
                        </td>
                    {% endif %}
            </tr>
            {% endfor %}
        </tbody> 
    </table>
</body>
</html>
