<h1>WELCOME</h1>

<div class = "container">
        <h1>WELCOME {{ users }} </h1>
        <form action="/viewcommunities" method = "POST">
            <button type="submit">view my communities</button>
        </form>
        <form action="/tocreatecommunity" method = "POST">
            <button type="submit">create community</button>
        </form>
        <form action="/toviewcommunities" method = "POST">
            <button type="submit">view all communities</button>
        </form>
        <form action="/logout" method = "POST">
            <button type="submit">logout</button>
        </form>
</div>